{% extends "_base2.html" %} 
{% block app_content %}


<div class="py-5 section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-dark">What dya wanna do mate ?!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <!-- <li class="list-group-item"><a href="{{ url_for('admin.liste') }}">Lister les diplomés non inscrits au site</a></li> -->
                    <li class="list-group-item"><a href="{{ url_for('admin.gensigmortel') }}">Générer Sigmortel</a></li>
                    <!-- <li class="list-group-item"><a href="#">Envoyer mail à tous les users</a></li> -->
                    <li class="list-group-item"><a href="{{ url_for('admin.sigmortel') }}">Afficher tout sigmemories</a></li>
                    <!-- <li class="list-group-item disabled"><a href="{{ url_for('admin.preinscription') }}">Préinscrire diplomés</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>





{% endblock %}