<p>Votre compte sur le site
<a href="rddensccfifma.fr">RDD Sigma</a> a été créé avec succès.
<br/><br/>
<br/>Votre mot de passe est : <strong>{{ pw }}</strong>
<br/>
<br/>Veuillez le changer dans votre espace perso

<br/> Veuillez cliquer sur le lien ci-dessous pour confirmer et activer votre compte:
<a href="{{ confirm_url }}">{{ confirm_url }}</a>
<br/><br/>
<br/>Le Sigmemories qu'est ce que c'est ?<br/>
<br/>C'est un livre, ou plutôt un recueil, que vous pourrez acheter et dans lequel vous pouvez laisser un message à n'importe quel diplômé pour le féliciter, <br/>
<br/>lui remémorer un souvenir que vous partagez, lui rappelez une anecdote croustillante etc...
<br/><br/>
<br/>-- Questions ? Commentaires ? Email jmuller@ifma.fr
</p>