{% extends "_base2.html" %} 
{% block app_content %}


<div class="py-5 section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-dark">Pas inscrits ?!</h1>
                <h1 class="text-dark">{{ restant }} restants</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if liste %}
               <table class="table">
                   <thead>
                       <tr>
                           <th>Nom</th>
                           <th>Prenom</th>
                           <th>email</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for ele in liste %}
                       <tr>
                            <td>{{ ele.nom }}</td>
                            <td>{{ ele.prenom }}</td>
                            <td>{{ ele.email }}</td>
                        </tr>
                        {% endfor %}
                   </tbody>
               </table>
               {% else %}
               <p>Tous inscrits / pas de liste</p>
               {% endif %}
            </div>
        </div>
    </div>
</div>





{% endblock %}