{% extends "_base2.html" %} 
{% block app_content %}

<div class="py-5 section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Auteur</th>
                            <th>Diplome</th>
                            <th>Dedicace</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for memory in memories %}
                        <tr>
                            <td>{{ memory.auteur }}</td>
                            <td>{{ memory.diplome }}</td>
                            <td>{{ memory.dedicace }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <a name="Générer Sigmemories" class="btn btn-primary" href="{{ url_for('admin.gensigmortel') }}" role="button">Générer Sigmemories</a>
            </div>
        </div>
    </div>
</div>





{% endblock %}