{% extends "_base2.html" %} {% import "wtf.html" as wtf %} {% block app_content %}
<div class=" py-5">
    <div class="container">

        {% if dedi_diplo %}
        <table class="my-2 table table-hover">
            <thead>
                <tr>
                    <th>Diplomé</th>
                    <th>Dédicace</th>
                    <th width=15%>Modifier tag</th>
                    <th width=15%>Supprimer tag</th>
                </tr>
            </thead>

            <tbody>
                {% for dedi, diplo in dedi_diplo.items() %}
                <tr>
                    <td>{{ diplo.nom + " " + diplo.prenom }} </td>
                    <td>{{ dedi.dedicace }}</td>
                    <td>
                        <a href="{{ url_for('private.moddedi', id=dedi.id) }}">
                            <i class="fas fa-pencil-alt"></i> Modifier</a>
                    </td>
                    <td>
                        <a data-id={{ dedi.id }} onclick="ConfirmDelete(this)" ><i class="fas fa-trash-alt"></i> Supprimer</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <p class="my-4">Pas de tag écrit :(</p>
        {% endif %}
        <a href="{{ url_for('private.new_dedi') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Faire un nouveau tag
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Voulez-vous supprimer cette sigmemories ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" onclick="Delete()">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete(elem) {
        localStorage.setItem('deleteId', $(elem).attr('data-id'));
        $('#deleteModal').modal();
    }

    function Delete() {
        $.ajax({
            url: '/deldedi/',
            data: {
                id: localStorage.getItem('deleteId')
            },
            type: 'POST',
            success: function (res) {
            $('#deleteModal').modal('hide');
            location.reload();  
        }});
    }

</script>
{% endblock %}