{% extends "_base2.html" %} {% import "wtf.html" as wtf %} 

{% block app_content %}

<div class="py-5 section-aquamarine">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-light">La billetterie est ouverte !</h1>
                <p class="text-light text-left">
                    Il y a 2 types de billets :
                    <ul class="text-left">
                        <li>Billet RDD : Ce billet donne accès gratuit à la Cérémonie et au Cocktail. Le Repas au Polydôme et
                            la soirée à la Coopérative de Mai sont à cocher en option à l'étape suivante (55 euros).
                            <br/>5 places par acheteurs maxi (dont le diplômé)</li>
                        <br/>
                        <li>Billet Repas + Soirée uniquement (sans cérémonie) 55€ :
                            <br/> Ce billet s'adresse uniquement aux personnes se rendant au repas et à la soirée pour manger et boire des coups avec
                            les copains.
                            <br/>N'est pas destiné à un diplômé, celui-ci doit prendre un billet RDD pour confirmer sa présence à la cérémonie
                            <br/>5 places par acheteurs maxi (sans le diplômé)
                        </li>
                        <br/>
                        <li>Billet Soirée uniquement (sans cérémonie et sans repas) 20€ :
                            <br/> Ce billet s'adresse uniquement aux personnes se rendant à la soirée pour boire des coups avec
                            les copains.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/rdd-sigma-clermont/evenements/billetterie-rdd-sigma-clermont-2018/widget"
                    style="width:100%;height:750px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}