{% extends "_base2.html" %} {% block app_content %}
<!-- Cover -->

<!-- Home section -->
<div id="home" class="d-flex align-items-center py-5 cover section-aquamarine section-light" style="background-image: url('static/img/rdd/ifma3.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-white mt-5"></div>
      <div class="col-lg-4 text-white mt-5">
        <img class="img-fluid d-block" src="static/img/rdd/logo-rdd2.png">
      </div>
      <div class="col-lg-4 text-white mt-5"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-white mt-5">
        <p style="color: black">Samedi 3 Novembre 2018 - Clermont-Ferrand, France</p>
        <i class="d-block fas fa-chevron-circle-down text-dark pt-5 fa-3x"></i>
      </div>
    </div>
  </div>
</div>

<!-- Event section-->
<div id="soiree" class="py-5 section-parallax" style="background-image: url('static/img/rdd/rdd-chapeau.jpg');">
  <div class="container my-5 bg-light p-4">
    <div class="row mx-auto">
      <div class="col-md-12">
        <h1 class="mb-3">La cérémonie RDD</h1>
        <p class="text-justify">Fin 2017, la première promo 100% SIGMA est passée, et après un an de fusion complète, nous nous apprêtons à fêter
          la troisième remise des diplômes de notre nouvelle école. La cérémonie aura lieu le
          <em>samedi 3 Novembre</em> au
          <em>Polydôme</em> de Clermont-Ferrand.
          <br />
          <br/> Cette année, 258 diplomés recevront leur diplôme d'ingénieur.
          <br />
          <br/> Une cérémonie de prestige sera menée par Bernard Dimoyat, parrain de la promotion 2018. Ensuite, un cocktail puis
          un dîner et une soirée de gala, permettront aux nouveaux ingénieurs de fêter leur entrée dans la vie active avec
          panache.
          <br />
          <br/> Avec un programme d’enseignement défini en partenariat avec la Fondation SIGMA et ses entreprises fondatrices
          ou associées, l’école forme des ingénieurs d’un haut niveau scientifique et technique, conscients de leurs responsabilités
          vis-à-vis de la société, des ingénieurs capables de s’adapter et de développer une expertise technique sur des
          projets à dimension internationale, des ingénieurs où le savoir être complète harmonieusement le savoir et le savoir-faire.</p>
        <a href="#schedule" class="btn btn-outline-primary btn-lg m-2">Programme</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary btn-lg m-2" data-toggle="modal" data-target="#hotel">
          Trouver un hôtel
        </button>

        <!-- Modal -->
        <div class="modal fade" id="hotel" tabindex="-1" role="dialog" aria-labelledby="hotelTitre" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="hotelTitre">Hôtels partenaires</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <table class="table" style="text-align: left">
                    <thead>
                      <tr>
                        <th>Hôtel</th>
                        <th>Code promo</th>
                        <th>Infos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Campanile</td>
                        <td>SIGMA 2018</td>
                        <td>120, Avenue de la République
                          <br/> 63000 CLERMONT FERRAND
                          <br/> Tel : 04.15.40.05.76
                          <br/>
                          <a href="mailto:Clermontferrand.centre@campanile.fr">Clermontferrand.centre@campanile.fr</a>
                          <br/>
                          <a href="www.Campanile.com">www.Campanile.com</a>
                          <br/> Chambre 1 personne avec petit déjeuner = 70€ / nuit
                          <br/> Chambre 2 personnes avec petits déjeuners = 80€ / nuit
                          <br/> Chambre de 3 personnes avec petits déjeuners = 90€ / nuit</td>
                      </tr>
                      <tr>
                        <td>RESIDHOME APPARTHOTEL
                          <br/> Résidence Gergovia</td>
                        <td>SIGMA 2018</td>
                        <td>125 Avenue de la République
                          <br/> 63100 CLERMONT-FERRAND
                          <br/> Tél : +33 (0)4 73 74 74 00
                          <br/>
                          <a href="clermont.gergovia@residhome.com">clermont.gergovia@residhome.com</a>
                          <br/> Ø Studio : 54€/nuit
                          <br/> Ø Taxe de séjour : 1.10€/nuit/pers
                          <br/> Ø Petit déjeuner : 8€/jour/pers
                          <br/> Le parking est à 8€/nuit/véhicule</td>
                      </tr>
                      <tr>
                        <td>Novotel Suites
                          <br/>Clermont-Ferrand Polydôme</td>
                        <td>SIGMA</td>
                        <td>54, avenue de la République
                          <br/> 63100 CLERMONT-FERRAND
                          <br/> Tél : +33 (0) 4 73 42 34 73
                          <br/> chambre single : 102.00 € BB avec petit déjeuner inclus
                          <br/> chambre double : 112.00 € BB avec petit déjeuner inclus
                          <br/> Taxe de séjour : 1.40€ / pers / nuit
                          <br/> Le parking est à 12.50€/nuit/véhicule</td>
                      </tr>
                      <tr>
                        <td>Comfort Hôtel St Jacques
                          <br/>(Ancien Hotel Balladins)</td>
                        <td>SIGMA 2018</td>
                        <td>18 Bd Winston Churchill
                          <br/> 63100 CLERMONT-FERRAND
                          <br/> Tél : 04 73 26 24 55
                          <br/>
                          <a href="info@comforthotelclermont.com">info@comforthotelclermont.com</a>
                          <br/> clermont.gergovia@residhome.com
                          <br/> Chambre simple : 70€, petit déjeuner inclus
                          <br/> Chambre double : 80€, petit déjeuner inclus
                          <br/> Taxe de séjour : 1.10€/nuit/personne</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Schedule -->
<div class="py-5 section-parallax section-aquamarine" id="schedule">
  <div class="container">
    <div class="row text-center text-dark align-content-center align-items-center">
      <div class="p-8 col-lg-8">
        <h1 class="text-white">
          <i class="far fa-calendar-alt"></i> Programme de la Remise des diplômes</h1>
        <!-- <button type="button" class="btn btn-light-outline"><i class="fas fa-music"></i> Animation</button> -->
      </div>
      <div class="p-4 col-lg-4">
        <div class="card text-dark">
          <div class="card-block text-center p-2">
            <h2>Samedi 3 Novembre</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="mx-auto far d-inline fa-clock text-primary"></i> 15:00-19:00 –
              <b>Cérémonie</b>
            </li>
            <li class="list-group-item">
              <i class="mx-auto far d-inline fa-clock text-primary"></i> 19:00 - 20:00 –
              <b>Cocktail</b>
            </li>
            <li class="list-group-item">
              <i class="mx-auto far d-inline fa-clock text-primary"></i> 20:00 – 23:00 -
              <b>Repas</b>
            </li>
            <li class="list-group-item">
              <i class="mx-auto far d-inline fa-clock text-primary"></i> 23:00 – 05:00 -
              <b>Soirée</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sigma section -->
<div class="py-5 section-parallax section-aquamarine" style="background-image: url(static/img/rdd/sigma.png);" id="sigma">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="text-uppercase">Sigma Clermont</h2>
        <p class="text-justify">SIGMA Clermont forme des ingénieurs alliant des compétences techniques pointues, une forte adaptabilité, et un savoir-faire
          incomparable. Une ouverture sur l’entreprenariat et une constante incitation à aller de l’avant sont parties intégrantes
          des trois ans que les élèves ingénieurs passent à Sigma.
          <br>
          <br>Cette formation fait de l’ingénieur SIGMA un leader efficace et responsable au sein d’équipes-projet cosmopolites
          qui intègre des modes de raisonnement différents, des méthodes de travail et une approche multiculturelle, même
          à l’intérieur du territoire.
          <br>
          <br>Enfin, le développement du savoir-être de l’élève-ingénieur passe également par une forte implication dans la vie
          associative étudiante favorisant l’esprit d’équipe, la prise d'initiative, et l’épanouissement personnel de l’étudiant.
          L’école, par la diversité de son tissu associatif étudiant bénéficie de cette richesse et forme des ingénieurs
          aux compétences variées au service du développement économique actuel. Cette recherche d’excellence sur tous les
          plans, professionnelle et personnelle, se retrouvent dans le niveau exceptionnel de l’environnement proposé aux
          élèves sur le campus universitaire et de la ville de Clermont-Ferrand, 1ère des grandes villes où il fait bon étudier.</p>
      </div>
      <div class="col-md-5 align-self-center">
        <img class="img-fluid d-block w-100 img-thumbnail" src="static/img/rdd/batiment.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="static/img/rdd/cours_meca.jpg">
      </div>
      <div class="col-md-7">
        <h2 class="text-uppercase pt-3">Pôle Mécanique</h2>
        <p class="text-justify"> Le pôle mécanique, est associé à l’Institut Mines-Télécom. Il forme des ingénieurs à dimension internationale experts
          en mécanique avancée et en génie industriel aptes à s’adapter à la complexité croissante du métier d’ingénieur
          et aux enjeux économiques et sociétaux en perpétuelle évolution des entreprises qui les recrutent.
          <br>
          <br>Les élèves du pôle mécanique construisent leur parcours à la carte avec 3 pôles possibles dès la deuxième année
          :
        </p>
        <ul class="text-left">
          <li>Machines, Mécanismes et Systèmes</li>
          <li>Structures et Mécanique des Matériaux</li>
          <li>Logistiques</li>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-7">
        <h2 class="text-uppercase">Pôle Chimie</h2>
        <p class="text-justify"> Le pôle chimie de l'école est membre de la fédération Gay-Lussac qui regroupe 20 écoles d'ingénieurs en chimie et
          génie des procédés françaises. Il forme des ingénieurs chimistes alliant des compétences techniques pointues, une
          forte adaptabilité, et un savoir faire incomparable. Aptes à relever les défis scientifiques et technologiques
          d'un environnement en mutation permanente, les diplômés peuvent s'adapter à de nombreux secteurs d'activités et
          à différentes fonctions.
          <br>
          <br>Lors de leur formation, les élèves bénéficient d'un tronc commun important en chimie générale, et font également
          le choix d'un parcours de spécialité, qui leur permet de se spécialiser dans le domaine de leur choix parmi :
          <br>
        </p>
        <ul class="text-left">
          <li>Chimie organique fine et industrielle</li>
          <li>Matériaux hautes performances</li>
          <li>Génie des procédés</li>
        </ul>
        <p class="text-justify">Ainsi, les élèves peuvent choisir le parcours qui leur correspond le mieux, et s'adapter au besoin du marché.</p>
      </div>
      <div class="col-md-5 align-self-center">
        <img class="img-fluid d-block w-100 img-thumbnail" src="static/img/rdd/chimie.jpg">
      </div>
    </div>
  </div>
</div>


<!-- Parrain section-->
<div id="parrain" class="py-5 section-parallax" style="background-image: url('static/img/rdd/falcon5.jpg');">
  <div class="container my-10 py-5 bg-light p-4">
    <div class="row mx-auto">
      <div class="card text-center"></div>
      <div class="card-body">
        <h1 class="card-title text-uppercase">Le parrain de promotion</h1>
        <img src="static/img/rdd/dassault.jpeg" alt="" class="card-img-top">
        <p class="card-text">
          La cérémonie de remise de diplômes aura lieu sous la présidence de Bernard Dimoyat, il est le directeur de programme du Falcon
          5X.
          <br/> Son parrainnage annonce un partenariat qui se met en place entre Sigma Clermont et Dassault Aviation.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Partenaires -->
<div class="py-5 section-light" id="partenaires">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Nos partenaires</h1>
      </div>
    </div>
    <div class="row justify-content-center py-3">
      <!-- sg -->
      <div class="col-md-4 col-lg-4 animate-in-left">
        <a data-toggle="modal" data-target="#sgmodal">
          <img src="static/img/partenaires/sg.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Société Générale</b>
          </h3>
          <!-- sgmodal -->
          <div class="modal fade" id="sgmodal" tabindex="-1" role="dialog" aria-labelledby="sgmodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="sgmodal">Société générale</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="http://societegenerale.fr">
                          <img src="static/img/partenaires/sg.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>Partenaire de SIGMA Clermont depuis plus de 20 ans, Société Générale accompagne les étudiants tout au long de leur passage à l’école. Notre engagement sur cette remise de diplômes traduit notre volonté de rester au plus proche de vous à la suite de vos études et notre volonté de vous soutenir dans vos projets personnels comme professionnels.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- efor -->
      <div class="col-md-4 col-lg-4 animate-in-right">
        <a data-toggle="modal" data-target="#EforModal">
          <img src="static/img/partenaires/efor.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Efor</b>
          </h3>
          <!-- EforModal -->
          <div class="modal fade" id="EforModal" tabindex="-1" role="dialog" aria-labelledby="EforModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="EforModal">Efor</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="http://www.efor-group.fr/efor/">
                          <img src="static/img/partenaires/efor.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>EFOR est un groupe national de conseil résolument tourné vers l’individu qui rassemble des consultants
                      passionnés par leurs métiers.
                      <br/>
                      <br/>EFOR se positionne comme un partenaire apportant des solutions spécialisées à ses clients.
                      <br/>
                      <br/>Notre groupe se caractérise par sa volonté de rassembler avant tout des personnalités.
                      <br/>
                      <br/>Nous sommes en effet convaincus qu’au delà des compétences et des expériences de chacun, notre plus
                      grande force réside dans chacune des personnalités des membres de nos équipes
                      <br/>AU DELÀ DES INGÉNIEURS, IL Y A DES PERSONNALITÉS</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    
    <div class="row justify-content-center py-3">
      <!-- gt -->
      <div class="col-md-3 col-lg-3 animate-in-left align-content-center">
        <a data-toggle="modal" data-target="#gtmodal">
          <img src="static/img/partenaires/greentech.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>GreenTech</b>
          </h3>
          <!-- gtmodal -->
          <div class="modal fade" id="gtmodal" tabindex="-1" role="dialog" aria-labelledby="gtmodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="gtmodal">GreenTech</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="http://www.greentech.fr/en/">
                          <img src="static/img/partenaires/greentech.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>Pionnier en biotechnologies, le Groupe international Greentech a l'originalité d'être dédié aux univers
                      végétal, marin et microbien avec ses quatre sociétés, Greentech, Greensea, Biovitis et Mapric. En croisant
                      les univers, en multipliant les origines, elles agissent en synergie pour innover dans la cosmétique, la
                      pharmacie et la nutraceutique au service de la beauté et du bien-être.
                      <br/>
                      <br/>Des molécules actives à l'efficacité prouvée, issues de plantes, algues et micro-organismes dénichés
                      dans le monde entier, avec notamment l'accès à la biodiversité brésilienne (Mapric a l'agrément CGEN pour
                      plus de 60 plantes), une Recherche avancée, aux technologies de pointe, une expertise saluée par de nombreux
                      prix et brevets.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- deltamu -->
      <div class="col-md-3 col-lg-3  align-content-center">
        <a data-toggle="modal" data-target="#deltamumodal">
          <img src="static/img/partenaires/deltamu.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Delta Mu</b>
          </h3>
          <!-- deltamumodal -->
          <div class="modal fade" id="deltamumodal" tabindex="-1" role="dialog" aria-labelledby="deltamumodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="deltamumodal">Delta Mu</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="http://www.greentech.fr/en/">
                          <img src="static/img/partenaires/deltamu.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <h2>DELTAMU : TOUTE NOTRE HISTOIRE CONDUIT À LA SMART METROLOGY </h2>
                    <p>Depuis le premier jour, Deltamu travaille à développer et vulgariser les principes de la Smart Metrology
                      : normalisation, publication de nombreux articles et animation de conférences. Deltamu s’est imposée comme
                      le précurseur de nombreux outils permettant de prendre les bonnes décisions. Périodicité, surveillance,
                      conformité, inférence bayésienne, Deltamu est au coeur de l’innovation.</p>
    
                    <h2>NOTRE MISSION : VOUS AIDER À EXCELLER.</h2>
                    <h2> NOTRE ENGAGEMENT : Y PARVENIR</h2>
                    <p>Plus qu’un fournisseur, Deltamu s’engage à vos côtés dans tous les domaines de la Smart Metrology : formation,
                      outils logiciels (dont Opti Mu, leader sur son marché), diagnostic, préconisation, assistance… Vos succès
                      sont notre ambition. Recherche avancée, aux technologies de pointe, une expertise saluée par de nombreux
                      prix et brevets.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- thales -->
      <div class="col-md-3 col-lg-3 animate-in-right align-content-center">
        <a data-toggle="modal" data-target="#thalesmodal">
          <img src="static/img/partenaires/thales.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Thales</b>
          </h3>
          <!-- thalesmodal -->
          <div class="modal fade" id="thalesmodal" tabindex="-1" role="dialog" aria-labelledby="thalesmodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="thalesmodal">Thales</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="https://www.thalesgroup.com/en/career">
                          <img src="static/img/partenaires/thales.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>Partout où des décisions critiques doivent être prises, Thales est présent. Nous servons cinq grands secteurs
                      essentiels pour le développement de nos sociétés :
                      <ul class="list-group mx-5">
                        <li>Aéronautique</li>
                        <li>Espace</li>
                        <li>Transport terrestre</li>
                        <li>Sécurité</li>
                        <li>Défense</li>
                      </ul>
                      <br/>Des équipements et systèmes aidant nos clients à choisir la meilleure option et à agir en conséquence.
                      <br/>L’expertise de ses 64 000 collaborateurs et sa présence opérationnelle dans 56 pays en font ainsi
                      un acteur clé de la sécurité des citoyens, des infrastructures et des États.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- constellium -->
      <div class="col-md-3 col-lg-3 animate-in-right align-content-center">
          <a data-toggle="modal" data-target="#constelliummodal">
            <img src="static/img/partenaires/constellium.png" class="center-block img-fluid">
            <h3 class="mb-0">
              <b>Constellium</b>
            </h3>
            <!-- constelliummodal -->
            <div class="modal fade" id="constelliummodal" tabindex="-1" role="dialog" aria-labelledby="constelliummodal" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="constelliummodal">Constellium</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid text-left">
                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <a href="https://www.constellium.com/">
                            <img src="static/img/partenaires/constellium.png" class="center-block img-fluid my-3">
                          </a>
                        </div>
                      </div>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    </div>
    
    <div class="row justify-content-center py-3">
      <!-- sanofi -->
      <div class="col-md-3 col-lg-3 animate-in-right align-content-center">
        <a data-toggle="modal" data-target="#sanofimodal">
          <img src="static/img/partenaires/sanofi.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Sanofi</b>
          </h3>
          <!-- sanofimodal -->
          <div class="modal fade" id="sanofimodal" tabindex="-1" role="dialog" aria-labelledby="sanofimodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="sanofimodal">Sanofi</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="https://www.sanofi.fr/">
                          <img src="static/img/partenaires/sanofi.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>Sanofi, une société du secteur des sciences de la vie qui s’engage à prévenir les maladies et à soigner les personnes
                      dans le monde entier. Vertolaye est quant à lui, un site de production avec 64 principes actifs différents et plus de 500
                      stades chimiques. Plus de 800 hommes et femmes travaillent sur le site. Le procédé d’homogénéisation et micronisation fait
                      partie d’un savoir-faire très important sur le site de Vertolaye.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- ingeliance -->
      <div class="col-md-3 col-lg-3 animate-in-right align-content-center">
        <a data-toggle="modal" data-target="#ingelmodal">
          <img src="static/img/partenaires/ingeliance.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Ingeliance</b>
          </h3>
          <!-- ingelmodal -->
          <div class="modal fade" id="ingelmodal" tabindex="-1" role="dialog" aria-labelledby="ingelmodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="ingelmodal">Ingeliance</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="https://www.ingeliance.com/">
                          <img src="static/img/partenaires/ingeliance.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- nincar -->
      <div class="col-md-3 col-lg-3 animate-in-right align-content-center">
          <a data-toggle="modal" data-target="#nincarmodal">
            <img src="static/img/partenaires/nincar.png" class="center-block img-fluid">
            <h3 class="mb-0">
              <b>Nincar</b>
            </h3>
            <!-- nincarmodal -->
            <div class="modal fade" id="nincarmodal" tabindex="-1" role="dialog" aria-labelledby="nincarmodal" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="nincarmodal">Nincar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid text-left">
                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <a href="http://www.nincar.com/fr/">
                            <img src="static/img/partenaires/nincar.png" class="center-block img-fluid my-3">
                          </a>
                        </div>
                      </div>
                      <p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
      </div>
      <!-- fareva -->
      <div class="col-md-3 col-lg-3 animate-in-right align-content-center">
          <a data-toggle="modal" data-target="#farevamodal">
            <img src="static/img/partenaires/fareva.png" class="center-block img-fluid">
            <h3 class="mb-0">
              <b>Fareva</b>
            </h3>
            <!-- farevamodal -->
            <div class="modal fade" id="farevamodal" tabindex="-1" role="dialog" aria-labelledby="farevamodal" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="farevamodal">fareva</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid text-left">
                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <a href="http://www.fareva.com/">
                            <img src="static/img/partenaires/fareva.png" class="center-block img-fluid my-3">
                          </a>
                        </div>
                      </div>
                      <p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
      </div>
    </div>
    <div class="row justify-content-center py-3">
      <!-- volvic -->
      <div class="col-md-2 col-lg-2 animate-in-left align-content-center">
        <a data-toggle="modal" data-target="#volvicmodal">
          <img src="static/img/partenaires/volvic.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Volvic</b>
          </h3>
          <!-- volvicmoda -->
          <div class="modal fade" id="volvicmodal" tabindex="-1" role="dialog" aria-labelledby="volvicmodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="volvicmodal">Volvic</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="https://www.volvic.fr">
                          <img src="static/img/partenaires/volvic.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- cmgo -->
      <div class="col-md-2 col-lg-2 align-content-center">
        <a data-toggle="modal" data-target="#cmgomodal">
          <img src="static/img/partenaires/cmgo.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>CMGO Services</b>
          </h3>
          <!-- cmgomodal -->
          <div class="modal fade" id="cmgomodal" tabindex="-1" role="dialog" aria-labelledby="cmgomodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="cmgomodal">CMGO Services</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="http://www.cmgo-services.fr">
                          <img src="static/img/partenaires/cmgo.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>CMGO accompagne les professionnels dans la conception, le calcul et le prototypage de système mécanique
                      ou hydraulique. Transport, travaux publics, forestiers, minier et l'industrie sont nos secteurs d'activité
                      principaux.
                      <br/>Fondée en 2017, l'entreprise apporte dynamisme, expertise et flexibilité grâce à sa jeune équipe d'ingénieur.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- nova -->
      <div class="col-md-2 col-lg-2 animate-in-right align-content-center">
        <a data-toggle="modal" data-target="#novamodal">
          <img src="static/img/partenaires/nova.png" class="center-block img-fluid">
          <h3 class="mb-0">
            <b>Nova</b>
          </h3>
          <!-- novamodal -->
          <div class="modal fade" id="novamodal" tabindex="-1" role="dialog" aria-labelledby="novamodal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="novamodal">Nova</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid text-left">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <a href="https://novatoride.com">
                          <img src="static/img/partenaires/nova.png" class="center-block img-fluid my-3">
                        </a>
                      </div>
                    </div>
                    <p>NOVA RIDE est une marque créée par de jeunes Ingénieurs, triathlètes et cyclistes.
                      <br/>Nous sommes au cœur des préoccupations que peut relever le monde du sport actuel.
                      <br/>Nous développons des vélos et composants destinés au cyclisme de compétition.
                      <br/>Ceci mettant en oeuvre des outils à la pointe de l'ingénierie
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}