{% extends "_base2.html" %} 
{% from "_formhelpers.html" import render_field %}
{% import "wtf.html" as wtf %} 
{% block app_content %}

<div class="py-5 section-aquamarine" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-light">S'enregistrer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}