<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="static/img/favicon.png"> 
  {% block title %} 
  {% if title %}
  <title>{{ title }} - RDD 2k18</title>
  {% else %}
  <title>RDD Sigma 2k18</title>
  {% endif %} 
  {% endblock %}

  <meta name="description" content="Site officiel de la RDD Sigma 2018">
  <meta name="keywords" content="RDD Remise des diplomes sigma clermont Clermont-Ferrand 2018 gala bde">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" >

  <!-- TODO Download locally these -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="{{ url_for('static', filename='js/navbar-ontop.js') }}"></script>
  <!-- Script: Animated entrance -->
  <script src="{{ url_for('static', filename='js/animate-in.js') }}"></script>
</head>

<body class="text-center">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark text-capitalize">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent"
        aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-home"></i> Home</a>
          </li>
          {% if main_page %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="#soiree">Évènement RDD</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#sigma">Sigma Clermont</a>
          </li>
          <li class="nav-item mx-2">
              <a class="nav-link" href="#parrain">Le Parrain</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#partenaires">Nos Partenaires</a>
          </li>
          {% endif %}
        </ul>
        {% if current_user.is_anonymous %}
            <a class="btn navbar-btn text-white btn-outline-light ml-auto" href="{{ url_for('auth.login') }}">Login</a>
            <a class="btn navbar-btn text-white btn-outline-light mx-2" href="{{ url_for('auth.register') }}">S'enregistrer</a> 
        {% endif %}
        {% if not current_user.is_anonymous %}
        <div class="btn-group mr-auto">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Privée</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('private.listdedi') }}">Sigmemories</a>
            {% if current_user.diplome %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('plan.plan') }}">Plan de table</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('billetterie.billetterie') }}">Billetterie</a>
            {% endif %}
          </div>
        </div>
        <div class="btn-group ml-auto">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Mon Profil</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('monprofil.edit') }}">Editer mon profil</a>
            {% if current_user.admin %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('admin.admin') }}">Administration</a>
            {% endif %} 
        
          </div>
        </div>
        {% endif %} 
      </div>
    </div>
  </nav>


  <!-- Flash messages -->
  {% with messages = get_flashed_messages() %} 
  {% if messages %}
  <div class="bg-aquamarine inset-shadowed">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {% for message in messages %}
          <div class="alert alert-dark" style="margin-top: 5em;" role="alert">
            <p class="mb-0">{{ message}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %} 
  {% endif %} 
  {% endwith %}

  {% block app_content %}
  {% endblock %} 

  <!-- Footer -->
  <footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-6">
          <h3>Remise des diplômes</h3>
          <p class="text-muted">Samedi 3 Novembre 2018</p>
          <p class="my-3">
            <a href="https://goo.gl/maps/oNY6fHqxovq" target="blank" class="text-muted">Polydôme,
              <br>Place Du Premier Mai,
              <br>63100, Clermont-Ferrand, France</a>
          </p>
        </div>
        <div class="my-3 col-lg-4 col-md-6">
          <h3><a class="text-light" href="{{ url_for('main.mentions') }}">Mentions légales</a></h3>
          
        </div>
        <div class="col-lg-1"> </div>
        <div class="my-3 col-lg-3">
          <p class="text-muted"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted">© Copyright 2018 RDD - All rights reserved. </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript dependencies -->
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- Script: Smooth scrolling between anchors in a same page -->
  <script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-29443235-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-29443235-15');
  </script>

  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 713084, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>

</body>

</html>